.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c2c2c;
  padding: 10px 20px;
  color: white;
  top: 0;
  z-index: 100;
}

/* Logo */
.logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Link navigasi tengah */
.navLinks {
  display: flex;
  gap: 30px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #ffd700;
}

/* Tombol Home kanan */
.homeButton {
  background-color: #ffd700;
  padding: 6px 12px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Hero section */
.hero {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px 40px;
  text-align: center;
  background-color: #ccc;
}

.tagline {
  font-size: 20px;
  color: #222;
  margin-bottom: 10px;
}

.title {
  font-size: 48px;
  margin: 0;
  color: #333;
}

.info {
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #333;
}
